@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,500&family=Noto+Sans:ital,wght@0,500;1,300&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@1,300&display=swap');

body{
    display: block;
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    line-height: 55%;
}

.navbar{
  display: block;
  position: absolute;
  width: 95%;
  height: 15.8%;
  background-color: #DEDCDC;
  border-radius: 75px 75px 75px 75px;
  top: 12px;
  left: 36px;
}

.navbar h1{
  position: absolute;
  top:23px;
  left: 135px;
  width: 452px;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
}

#nav-icon{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 29px;
  left: 72px; 
}

#bars{
  display: none;
}

.navbar ul{
    position: absolute;
    top: 59px;
    right: 140px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    font-size: 32px;
    font-weight: 600;
}

.navbar li:hover{
    cursor: pointer;
}

.loading{
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.loading h1{
    position: absolute;
    color: #d90707;
    top: 433px;
    left: 475px;
}


#hospital-plus{
    position: absolute;
    width: 110px;
    height: auto;
    top: 281px;
    left: 700px;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }


.driver-page{
    display: none;
    width: 1390px;
    height: 75vh;
    background-color: #404040;
    position: absolute;
    top: 187px;
    left: 65px;
    border-radius: 48px 48px 0px 0px;
    
}


#driver-details{
    display: block;
    position: absolute;
}

.driver-page h1{
    color: #fff;
    position: absolute;
    top: 97px;
    left: 572px;
    width: 500px;
}

#ambulance-driver{
    position: absolute;
    top: 200px;
    left: 104px;
    width: 300px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); 
}

.details{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 417px;
    top: 199px;
    left: 572px;
}

.driver-page p{
    color: #fff;
    font-size: 24px;
    top: 30px;
    line-height: normal;
}

#d-loca{
    height: 50px;
}

